- if(isSuccess)
 h2 채팅방 목록
 p #{nickname}님 환영합니다.
 p 원하는 채팅방이 없으면 채팅방을 만들어!!!
  form(action='/makeroom', method='post')
   lable(for='roomname')방제
   input(type='text', name='roomname', id='roomname')
   input(type='submit', value='방만들기!')

 ul
  each room in roomList
   li= room
    input(type='button', value='입장', onclick='location.href=\'/join/' + room + '\'');
- else
 - if(nickname  === '')
  script(type='text/javascript')
   alert('잘못된 닉네임이다!!');
   history.back(-1);
 - else
  script(type='text/javascript')
   alert('사용중인 닉네임입니다.');
   history.back(-1);