- if(isSuccess)
 script
  alert('방이 만들어졌다!');
  location.href='/join/#{roomname}';
- else if(roomname === '')
 script
  alert('방을 만들지 못했다!!');
  history.back(-1);
- else
 script
  alert('이미 존재하는 방이다!!!');
  history.back(-1);